body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #269abc;
}
#container {
    height: 100vh;
    white-space: nowrap;
}
#master-header {
    height: 10vh;
    margin: 0;
    padding: 2vh 0;
}
.header-title label {
    font-weight: normal;
    font-size: 120%;
}
.header-title input {
    border-width: 1px; 
    width: 90vw;
    padding: 5px;
}
.cluster {
    margin: 0;
    display: inline-block;
    vertical-align: bottom;
    width: 240px;
    margin-right: 10px;
    background: #f1f9ff;
    height: 89vh;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.cluster-title {
    height: 73px;
    font-size: 120%;
    color: #fff;
    text-align: right;
    font-weight: bold;
    padding-right: 15px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.home .cluster-title{
    background-color: #00d6de;
}
.project .cluster-title {
    background-color: #d50d7e;
}
.activity .cluster-title {
    background-color: #3970b5;
}
.timeline .cluster-title {
    background-color: #d2b400;
}
.peep-element {
    background-color: #d2f1fe;
    padding: 10px;
    margin: 5px 0;
}
.element-header {
    height: 32px;
    margin-bottom: 5px;
}
.element-header a {
    color: #32004b;
    line-height: 32px;
}
.avatar-head {
    border: 2px solid #00d6de;
    border-radius: 18px;
    margin-right: 10px;
}
.time-delay {
    color: #8da2aa;
    font-size: 70%;
}